/* CSS HEX */
--outer-space-crayola: #36413eff;
--davys-grey: #5d5e60ff;
--taupe-gray: #8d8d92ff;
--thistle: #beb2c8ff;
--light-gray: #d7d6d6ff;

/* CSS HSL */
--outer-space-crayola: hsla(164, 9%, 23%, 1);
--davys-grey: hsla(220, 2%, 37%, 1);
--taupe-gray: hsla(240, 2%, 56%, 1);
--thistle: hsla(273, 17%, 74%, 1);
--light-gray: hsla(0, 1%, 84%, 1);

/* SCSS HEX */
$outer-space-crayola: #36413eff;
$davys-grey: #5d5e60ff;
$taupe-gray: #8d8d92ff;
$thistle: #beb2c8ff;
$light-gray: #d7d6d6ff;

/* SCSS HSL */
$outer-space-crayola: hsla(164, 9%, 23%, 1);
$davys-grey: hsla(220, 2%, 37%, 1);
$taupe-gray: hsla(240, 2%, 56%, 1);
$thistle: hsla(273, 17%, 74%, 1);
$light-gray: hsla(0, 1%, 84%, 1);

/* SCSS RGB */
$outer-space-crayola: rgba(54, 65, 62, 1);
$davys-grey: rgba(93, 94, 96, 1);
$taupe-gray: rgba(141, 141, 146, 1);
$thistle: rgba(190, 178, 200, 1);
$light-gray: rgba(215, 214, 214, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-right: linear-gradient(90deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-bottom: linear-gradient(180deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-left: linear-gradient(270deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-top-right: linear-gradient(45deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-bottom-right: linear-gradient(135deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-top-left: linear-gradient(225deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-bottom-left: linear-gradient(315deg, #36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);
$gradient-radial: radial-gradient(#36413eff, #5d5e60ff, #8d8d92ff, #beb2c8ff, #d7d6d6ff);